__pycache__
hospitalito/__pycache__
.vscode/settings.json
static/librerias/ckeditor/*
static/librerias/Flot/*
static/librerias/chart.js/*
static/librerias/lib
static/librerias/fastclick/.bower.json
static/librerias/fastclick/bower.json
static/librerias/fastclick/LICENSE
static/librerias/fastclick/README.md
hospitalito/static/librerias/ckeditor/*
hospitalito/static/librerias/Flot/*
hospitalito/static/librerias/chart.js/*
hospitalito/static/librerias/lib
hospitalito/static/librerias/fastclick/.bower.json
hospitalito/static/librerias/fastclick/bower.json
hospitalito/static/librerias/fastclick/LICENSE
hospitalito/static/librerias/fastclick/README.md