{% extends 'base_jinja.html' %}

{% block estilos %}
    {{ super() }}
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ static('libreria/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static('libreria/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static('libreria/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}">
    <style>
        .mytex {
            min-width: 80px !important;
        }
        span {
            display: inline-block;
        }
    </style>
{% endblock estilos %}

<div class="content-wrapper"><!-- comienzo del contenedor principal -->
    {% block sub_banner %}
    <section class="content-header">
    <h1>
        {{ titulo }}
        <small>Pacientes</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Historia Médica</a></li>
        <li class="active">Listado General</li>
    </ol>
    </section>
    {% endblock sub_banner %}
    {% block contenido %}
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="box box-info">
                            <div class="box-header">
                                    {{ titulo }}
                                <button data-toggle="tooltip" title="Agregar {{ titulo }}" type="button" class="btn btn-success btn pull-right">Agregar</button>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                <table id="example" class="table table-bordered table-hover dt-responsive nowrap" style="width:100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th><input type="text" id="column0_search" placeholder="Buscar {{ titulo }}"></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <th> {{ titulo }}</th>
                                            <th>Descripción</th>
                                            <th class="text-center">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    
                                        <tr>
                                            <td class="text-left">Trident</td>
                                            <td class="text-left">Internet</td>
                                            <td class="text-center">
                                                <button data-toggle="tooltip" title="Ver {{ titulo }}" type="button" class="btn btn-default btn-xs"><span class="fa fa-eye"></span></button>
                                                <button data-toggle="tooltip" title="Editar {{ titulo }}" type="button" class="btn btn-primary btn-xs"><span class="fa fa-pencil"></span></button>
                                                <button data-toggle="tooltip" title="Eliminar {{ titulo }}" type="button" class="btn btn-danger btn-xs"><span class="fa fa-trash"></span></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-left">Trident</td>
                                            <td class="text-left">Internet</td>
                                            <td class="text-center">
                                                <button data-toggle="tooltip" title="Ver {{ titulo }}" type="button" class="btn btn-default btn-xs"><span class="fa fa-eye"></span></button>
                                                <button data-toggle="tooltip" title="Editar {{ titulo }}" type="button" class="btn btn-primary btn-xs"><span class="fa fa-pencil"></span></button>
                                                <button data-toggle="tooltip" title="Eliminar {{ titulo }}" type="button" class="btn btn-danger btn-xs"><span class="fa fa-trash"></span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                            </div>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
            <div id="popup" class="modal fade" role="dialog"></div>
    {% endblock contenido %}
    <!-- /.content-wrapper -->
</div><!-- Fin del contenedor principal -->
{% block javascripts %}
    {{ super() }}
    <!-- DataTables -->
    <script src="{{ static('librerias/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    
    <script src="{{ static('librerias/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    
    <script src="{{ static('librerias/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    
    <script src="{{ static('librerias/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    
    <script src="{{ static('librerias/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    
    <script src="{{ static('librerias/datatables.net-buttons-bs/js/buttons.bootstrap.min.js') }}"></script>
    
    <script src="{{ static('librerias/jszip/dist/jszip.min.js') }}"></script>
    
    <script src="{{ static('librerias/pdfmake/build/pdfmake.min.js') }}"></script>
    <script src="{{ static('librerias/pdfmake/build/vfs_fonts.js') }}"></script>
    <script src="{{ static('librerias/datatables.net-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ static('librerias/datatables.net-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ static('librerias/datatables.net-buttons/js/buttons.colVis.min.js') }}"></script>
    <!-- page script -->
    <script>
        $(document).ready(function() {
            var table = $('#example').DataTable({
                lengthChange: true,
                columnDefs: [
                    { "targets": [1], "orderable": false },
                    { "targets": [1], "searchable": false },
                ],
                language: {
                    lengthMenu: "_MENU_ registros por página",
                    zeroRecords: "Lo sentimos, no encontramos registros coincidentes con su criterio de busqueda",
                    info: "Mostrando la página _PAGE_ de _PAGES_",
                    infoEmpty: "No hay registros de {{ titulo }} disponibles",
                    infoFiltered: "(Filtrados de untotal de _MAX_ registros)",
                    search: "Buscar: ",
                    paginate: {
                        first: "Primero",
                        last: "Último",
                        next: "Siguiente",
                        previous: "Previo"
                    },
                    buttons: {
                        copy: "Copiar"
                    },
                    decimal: "-",
                    thousands: "."
                },
                buttons: ['copy', 'csv', 'pdf']
            });

            table.buttons().container()
                .appendTo('#example_wrapper .col-sm-6:eq(0)');


            // Event listener to the two range filtering inputs to redraw on input
            $('#column0_search').on( 'keyup', function () {
                table
                    .columns( 0 )
                    .search( this.value )
                    .draw();
            } );
        });
    </script>
{% endblock javascripts %}