@import url('../librerias/PACE/themes/blue/pace-theme-minimal.css');
@import url('../librerias/materialize/css/materialize.min.css');
@import url('../librerias/iconic/css/material-design-iconic-font.min.css');

body{
	background-color: #E9EAEC;
	background-image: url("../dist/img/seigaiha.png");
}
main {
	flex: 1 0 auto;
}
section{
	margin-left:115px;
	margin-top:35px;
}
.loginimg{
	width:100px;
}
.saludologin{
	color:#388E3C;
}
#loginbtn{
	float: right;
	margin-bottom: 10px;
	margin-right: 10px;
}
