<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>.::{{ settings.NOMBRE_APP }} | {% block title %} Pacientes {% endblock title %} ::.</title>
  
  {% block icons_title %}
  <link rel="shortcut icon" href="{{ static('dist/img/avatar.png')}}" />
  {% endblock icons_title %}
  {% block estilos %}
    <!-- Enlace para llamar todos los estilos y librerias CSS !-->
  <link rel="stylesheet" href="{{ static('css/style.css') }}">
    <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  {% endblock estilos %}
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
  {% block navegacion %}
  <header class="main-header">
    <!-- Logo -->
    <a class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">H<b>M</b>J</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">Hosp.<b>Municipal</b>Junquito</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only" title="Navegador">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="{{ static('dist/img/avatar.png') }}" class="user-image" alt="User Image">
              <span class="hidden-xs">Alexander Pierce</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="{{ static('dist/img/avatar.png') }}" class="img-circle" alt="User Image">

                 <p>
                  Nombre del usuario
                  <small>logeado</small>
                </p
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Perfil</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Cerrar</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  {% endblock navegacion %}

  <!-- Menú lateral -->
  {% block menu %}
    {% include "menu.html" %}
  {% endblock menu %}

  <!-- Contenedor principal mejor dicho es donde se colocar el texto
  tablas y formularios -->
  {% block contenido %}
  <div id="fondo" class="content-wrapper">
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>
    <section class="content">
      
     
    </section>
  </div>
  {% endblock contenido %}
  <!-- Aqui Finaliza el Contenedor principal
  donde se colocara el texto, tablas 
  y formularios -->

  {% block footer %}
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Desarrollado por {{ settings.DESARROLLADO_POR }} | Copyright &copy; 2017-2019 </strong> All rights
    reserved.
  </footer>
  {% endblock footer %}

{% block javascripts %}
<!-- jQuery 3 -->
<script src="{{ static('librerias/jquery/dist/jquery.min.js') }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ static('librerias/jquery-ui/jquery-ui.min.js') }}"></script>

<!-- Bootstrap 3.3.7 -->
<script src="{{ static('librerias/bootstrap/dist/js/bootstrap.min.js') }}"></script>
<!-- Material Design -->
<script src="{{ static('dist/js/material.min.js') }}"></script>
<script src="{{ static('dist/js/ripples.min.js') }}"></script>
<script>
    $.material.init();
</script>
<!-- AdminLTE App -->
<script src="{{ static('dist/js/adminlte.min.js') }}"></script>
  <script src="{{ static('librerias/PACE/pace.min.js') }}"></script>
{% endblock javascripts %}
</body>
</html>
