{% extends 'login.html' %}

<title>.:: {{ settings.NOMBRE_APP }} | {% block title %} Recuperar Cuenta {% endblock title %} ::.</title>

{% block contents %}
<!-- /.login-logo -->
<div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form action="" method="post">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <br />
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
      </div>
    </form>
    <br />
    <div class="row">
        <div class="col-md-12">
            <a href="{{ url('cuenta:inicio-sesion') }}"><h4>Iniciar Sesión</h4></a><br>
        </div>
    </div>
  </div>
  <!-- /.login-box-body -->
  {% endblock contents %}

  {% block js %}
    {{ super() }}
  {% endblock js %}
