<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{ static('dist/img/avatar.png')}}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header text-center">MENÚ DE NAVEGACIÓN</li>
        <li class="treeview {% if 'cuenta/' in request.path %}active{% endif %}"><!--atributo de la clase "active"-->
          <a href="#">
            <i class="fa fa-user-o"></i> <span>Usuarios</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <!--<li class="{% if 'paciente/listado_de_paciente' in request.path %}active{% endif %}"><a href="{{ url('paciente:lista-paciente') }}"><i class="fa fa-list-ol"></i> Listado de Paciente</a></li>
              <li class="{% if 'paciente/registro-de-paciente' in request.path %}active{% endif %}"><a href="{{ url('paciente:registro-paciente') }}"><i class="fa fa-address-book-o"></i> Registro de Paciente</a></li>!-->
          </ul>
        </li>
        <li class="treeview {% if 'paciente/' in request.path %}active{% endif %}"><!--atributo de la clase "active"-->
          <a href="#">
            <i class="fa fa-group"></i> <span>Pacientes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li class="{% if 'paciente/listado_de_paciente' in request.path %}active{% endif %}"><a href="{{ url('paciente:lista-paciente') }}"><i class="fa fa-list-ol"></i> Listado de Paciente</a></li>
              <li class="{% if 'paciente/registro-de-paciente' in request.path %}active{% endif %}"><a href="{{ url('paciente:registro-paciente') }}"><i class="fa fa-address-book-o"></i> Registro de Paciente</a></li>
          </ul>
        </li>
        <li class="treeview {% if 'historia/' in request.path %}active{% endif %}"><!--atributo de la clase "active"-->
          <a href="#">
            <i class="fa fa-address-book"></i> <span>Historia Médica</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li class="{% if 'historia/listado_de_historia' in request.path %}active{% endif %}"><a href="{{ url('historiaMedica:lista-historia') }}"><i class="fa fa-list-ol"></i> Listado de Historias</a></li>
              <li class="{% if 'historia/registro_de_historia' in request.path %}active{% endif %}"><a href="{{ url('historiaMedica:registro-historia') }}"><i class="fa fa-address-book-o"></i> Registro de Historia Médica</a></li>
          </ul>
        </li>
        <li class="treeview {% if 'cita/' in request.path %}active{% endif %}"><!--atributo de la clase "active"-->
          <a href="#">
            <i class="fa fa-book"></i> <span>Cita Médica</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <!--<li class="{% if 'historia/listado_de_historia' in request.path %}active{% endif %}"><a href="{{ url('historiaMedica:lista-historia') }}"><i class="fa fa-list-ol"></i> Listado de Historias</a></li>
              <li class="{% if 'historia/registro_de_historia' in request.path %}active{% endif %}"><a href="{{ url('historiaMedica:registro-historia') }}"><i class="fa fa-address-book-o"></i> Registro de Historia Médica</a></li>!-->
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>